<div class="container">
  <div class="card">
    <div class="card-head">
      <div class="row">
        <div class="col"><h5> Escolha uma enquete!</h5></div>
        <div class="col d-flex justify-content-end">
          <button class="btn btn-primary"> Nova enquete </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-title">Lista de enquetes:</div>
      <table>
        <tr *ngFor="let enquete of lista_enquete"> 
          <td> {{enquete.model}} </td>
        </tr>
        
      </table>
    </div>
  </div>
</div>